<!DOCTYPE html>
<html>
<body>

<h2>사용자 목록</h2>

<div id="userList">
    {{#users}}
        <p>{{id}}</p>
        <button onclick="window.location.href='/chatroom/{{id}}'">채팅하기</button>
    {{/users}}
</div>

</body>
</html>
