body {
    background-color: #f8f9fa;
}

#contacts-list .list-group-item {
    cursor: pointer;
}

#contacts-list .list-group-item:hover {
    background-color: #f8f9fa;
}

#contacts-list .list-group-item.active {
    background-color: #007bff;
    color: white;
}

#chat-container {
    display: none;
    height: 100%;
    flex-direction: column;
}

#chat-body {
    overflow-y: auto;
    flex-grow: 1;
}

#message-input {
    flex-grow: 1;
}


.my-message,
.other-message {
    margin-bottom :10px ; /* 위아래 간격 조절 */
    padding :10px ;
    border-radius :15px ;
}


.my-message {
    display:flex ;
    justify-content:flex-end ;
}
.other-message {
    display:flex ;
    justify-content:flex-start ;
}
.message-content{
    max-width :50% ;
    padding :10px ;
    border-radius :15px ;
    word-wrap :break-word ; /* 단어가 행 끝에 도달하면 다음 행으로 이동 */
}


.my-message .message-content {
    background-color:#0dcaf0 ; /* 자신의 메시지 배경색 */
}
.other-message .message-content{
    background-color:#ffc107; /* 상대방의 메시지 배경색 */
}
